<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- your controller's js -->
    <script src="js/controller.js"></script>
</head>
    <body ng-app="starter" ng-controller="LoginCtrl">
    <ion-header-bar class="top">
        <h1 class="title">Login</h1>
        </button>
    </ion-header-bar>
    <ion-content>

        <div ng-if="authDataGithub.github" class="list card">
            <div class="item item-avatar">
                <img ng-src="{{authDataGithub.github.cachedUserProfile.avatar_url}}" alt="">
                <h2>{{authDataGithub.github.displayName}}</h2>
                <p>{{authDataGithub.github.username}}</p>
                <p>Github</p>
            </div>
        </div>

        <div ng-if="authDataFacebook.facebook" class="list card">
            <div class="item item-avatar">
                <img ng-src="{{authDataFacebook.facebook.cachedUserProfile.avatar_url}}" alt="">
                <h2>{{authDataFacebook.facebook.displayName}}</h2>
                <p>{{authDataFacebook.facebook.username}}</p>
                <p>Github</p>
            </div>
        </div>
        <i class="icon ion-social-github" style="font-size: 32px; font-weight: 600; float:left; margin-left: 45%;"  ng-click="loginGithub('github')"></i>

        <i class="icon ion-social-facebook" style="font-size: 32px; font-weight: 600; float:right; margin-right: 45%;"  ng-click="loginfacebook()"></i>

    </ion-content>
    </body>
</html>
